<section class = "about container">
<h3 class = "text-center mb-1 p-4" style="color: rgba(12, 12, 150, 0.753);font-weight: bold;">About</h3>
<p>Currentrly working as an trainee in <mark style="background-color: rgb(188, 211, 231);">Mphasis Private Ltd.,</mark></p>
<p>Studied at University College of engineering - Dindigul, Tamilnadu, India</p>
<p>Languages know C, Java, Html, Css.</p>

<div class = "follow text-center">
    <h4>Follow Me</h4>
    <a href="#">FaceBook</a>
    <a href="#">WhatsApp</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a><br><br>
    <h6>Phone : +91 - 9999-888-777</h6>
    <h6>E-Mail : admin123@gmail.com</h6>
</div>
</section>
