<section class="contact text-center">
   <div class="container p-5">
       <form action="#">
           <h3>Contact</h3>
           <input class = "input" type="text" placeholder="Enter Your Name"><br><br>
           <input class = "input" type="text" placeholder="Enter Your E-Mail"><br><br>
           <input class = "input" type="text" placeholder="Enter Mobile Number"><br><br>
           <input class = "input" style = "height: 200px;" type="text" placeholder="Write Your Messages"><br><br>
           <input class = "button" style="font-weight: bold;" type="submit" value="Submit">
       </form>
   </div>

</section>
