<sectionclass = "about">
    <h3class = "text-center mb-1 p-4"style="color: rgba(255, 255, 255, 0.753);font-weight: bold;">About</h3>
    <pstyle="text-align: center;">A delicious one that makes you delightful and satisfy your mind and stomach, That out Kitchen.<br>
        Let celebrate your friends with us and make fun with us
        An Eco friendly environment and neat place to celebrate <br>your birthday parties, engagements and lot more to come...
    </p>
    
    <divclass = "follow text-center">
        <h4style="color: darkred;">Pick us</h4>
        <ahref="#">FaceBook</a>
        <ahref="#">WhatsApp</a>
        <ahref="#">Instagram</a>
        <ahref="#">Twitter</a><br><br>
        <h6>Phone : +91 - 9666-888-777</h6>
        <h6>E-Mail : homly.kitchen@gmail.com</h6>
    </div>
    </section>
    
