<divclass = "app">
<navclass="fclass navbar navbar-expand-lg navbar-light bg-light">
  <divclass="container-fluid">
    <aclass="navbar-brand"href="#">Homely Kitchen</a>
    <buttonclass="navbar-toggler"type="button"data-bs-toggle="collapse"data-bs-target="#navbarSupportedContent"aria-controls="navbarSupportedContent"aria-expanded="false"aria-label="Toggle navigation">
      <spanclass="navbar-toggler-icon"></span>
    </button>
    <divclass="collapse navbar-collapse"id="navbarSupportedContent">
      <ulclass="navbar-nav me-auto mb-2 mb-lg-0">
        <liclass="nav-item">
          <aclass="nav-link active"aria-current="page"routerLink="">Home</a>
        </li>
        <liclass="nav-item">
          <aclass="nav-link"routerLink="fooditems">Food-Items</a>
        </li>
        <liclass="nav-item">
          <aclass="nav-link"routerLink="about">About</a>
        </li>
        <liclass="nav-item">
          <aclass="nav-link"routerLink = "contact">Contact Us</a>
        </li>
        <liclass="nav-item">
          <aclass="nav-link"routerLink="payment">Payment</a>
        </li>
      </ul>
      <formclass="d-flex">
        <inputclass="form-control me-2"type="search"placeholder="Search"aria-label="Search">
        <buttonclass="btnbtn-outline-success"type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</div>
<router-outlet></router-outlet>
