.navbar{
    background-color:rgb(18, 18, 19);
}
.navbar-light.navbar-nav.nav-link:hover{
    text-decoration:underline;
}

.nav-link{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
