<sectionclass="contact text-center">
    <divclass="container p-5">
        <formaction="#">
            <h3>Homly Kitchen - Contact</h3>
            <inputclass = "input"type="text"placeholder="Enter Your Name"><br><br>
            <inputclass = "input"type="text"placeholder="Enter Your E-Mail"><br><br>
            <inputclass = "input"type="text"placeholder="Enter Mobile Number"><br><br>
            <inputclass = "input"type="text"placeholder="Enter Address"><br><br>
            <inputclass = "input"style = "height: 200px;"type="text"placeholder="Your Views..."><br><br>
            <inputclass = "button"style="font-weight: bold;"type="submit"value="Submit">
        </form>
    </div>
 
 </section>
