<sectionclass = "fooditem">
<table>
    <tr>
        <th><img  class="card-img-top"src="assets/pizza.jpeg"alt="Image not found"></th>
        <th><img  class="card-img-top"src="assets/bbq.jpeg"alt="Image not found"></th>
        <th><img  class="card-img-top"src="assets/grill.jpeg"alt="Image not found"></th>
        <th><img  class="card-img-top"src="assets/burger.jpeg"alt="Image not found"></th>
    </tr>
    <trstyle="text-align: center;">
        <tdclass = "food"style="background-color: rgb(216, 231, 216);">PIZZA</td>
        <tdclass = "food">BBQ</td>
        <tdclass = "food"style="background-color: rgb(216, 231, 216);">GRILL CHICKEN</td>
        <tdclass = "food"style="background-color: rgb(110, 197, 168);">HUMBURGER</td>
    </tr>
    <trstyle="text-align: center;">
        <tdclass = "desc"style="background-color: rgb(149, 178, 233);">The one which you and friends to share , Thats pizza</td>
        <tdclass = "desc"style="background-color: rgb(216, 231, 216);">It absorbs heat and give you good feels to taste and eat</td>
        <tdclass = "desc"style="background-color: rgb(149, 178, 233);">Like a bubbly and eat with family</td>
        <tdclass = "desc"style="background-color: rgb(216, 231, 216);">Fill your stomach with a single piece<br></td>
    </tr>
    <trstyle="text-align: center;">
        <tdclass = "button"><arouterLink = "payment"class="btnbtn-primary">Rs. 250</a></td>
        <tdclass = "button"><arouterLink = "payment"class="btnbtn-primary">Rs. 200</a></td>
        <tdclass = "button"><arouterLink = "payment"class="btnbtn-primary">Rs. 450</a></td>
        <tdclass = "button"><arouterLink = "payment"class="btnbtn-primary">Rs. 150</a></td>
    </tr>
    
</table>
</section>
