.fooditem{
    padding: 20px;
    margin-top: 2.5cm;
}
.food{
    background-color: rgb(110, 197, 168);
    font-weight: 600;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
.desc{
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding: 10px;
}
button{
    padding: 10px;
}
