<sectionclass="payment">
    <divclass="container p-5">
        <formaction="#">
            <h3class = " text-center">Payment</h3>
           <p>Name :</p><inputclass = "input"type="text"placeholder="Enter Your Name"><br><br>
           <p>Mobile :</p><inputclass = "input"type="number"placeholder="Enter Mobile Number"><br><br>
           <p>OTP :</p><inputclass = "input"type="number"placeholder="Enter OTP"><br><br>
           <p>Payment :</p><inputclass = "input"type="text"placeholder="Payment Type"><br><br>
            <inputclass = "button"style="font-weight: bold;"type="submit"value="Submit">
        </form>
    </div>
 
 </section>
